body {
    font: normal normal normal 16pt/17.6pt Verdana Arial sans-serif;
    color: black;
}
.tectabl {
    width: 70%;
    margin: 0 auto;
}
table#tech1 tr td {
    width: 25%;
    text-align: center;
}
.bold {
    font-weight: bold;
}
table#tech1, tr, td {
    border: 1px solid silver;
    border-collapse: collapse;
}
#div1 {
    border: 1px solid red;
    margin-top: 10px;x`~
    /* padding: 10px 0 10px 10px; */
}
#span1 {
    border: 1px solid blue;
    margin: 10px 0 10px 10px;
}